.calendarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0px 100px 0px;
}


.calendar {
    background: var(--lion);
    color: #000000;
    width: 600px;
    font-family: Cinzel;   
}

.calendar tbody tr td.mask,.calendar tbody tr td.mask-end,.calendar tbody tr td.mask-start {
    background: var(--bookings);
}

.calendar tbody tr td.today {
    background: none;
    text-decoration: none;
}

.calendar-title th {
    font-size: 18px;
    text-transform: none;
}