.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px 0px;
    grid-auto-flow: column;
    grid-template-areas: 
    "hero hero hero"
    "rooms rooms rooms"
    "deal deal deal"
    "features features features"
    "info info info"
    "footer footer footer";
    width: 100%;
    margin: 0;
}

header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 10;
    background-color:rgba(255, 255, 255, 0.5)
}

.hero {
    grid-area: hero;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}

.rooms {
    grid-area: rooms;
    display: flex;
    justify-content: center;
}

.deal {
    grid-area: deal;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.features {
    grid-area: features;
}

.info {
    grid-area: info;
}

.footer {
    grid-area: footer;
}