.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 0px 0px;
    grid-auto-flow: column;
    grid-template-areas: 
    "hero"
    "rooms"
    "deal"
    "features"
    "info"
    "breakBlock"
    "footer";
    width: 100%;
    margin: 0px;
}

.hero {
    grid-area: hero;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}

.rooms {
    grid-area: rooms;

}

.roomImageContainer {
    display: flex;
    gap: 10px;
}


.deal {
    grid-area: deal;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.features {
    grid-area: features;
}

.featureImageContainer {
    display: flex;
}

.info {
    grid-area: info;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}

.breakBlock {
    grid-area: breakBlock;
}