.container {
    margin: 0px;
}

.hero {
    display: flex;
    justify-content:center;
    align-items: flex-end;
}   

.roomImageContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: stretch;
    row-gap: 20px;

}

.roomImageContainer div {

    text-align: center;
}

.deal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.featureImageContainer {
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
}
