.container {
    margin: 0px;
}

.hero {
    display: flex;
    justify-content:center;
    align-items: flex-end;
}   

.roomImageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.roomImageContainer div {

    text-align: center;
}

.deal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.featureImageContainer {
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
}
