* {
    box-sizing: border-box;
}

header {
    width: 100%;
    position:fixed;
    display: flex;
    justify-content: center;
    z-index: 10;
    background-color:var(--navigation);
}

body {
    background-color: var(--lemon-chiffon);
    margin: 0;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.menu a {
    background-color: var(--lemon-chiffon-transparent);
    padding: 20px;
    gap: 10px;
}

a {    
    text-decoration: none;
    color: black;
}

.container {
    margin: 0px;
}

.hero {
    display: flex;
    justify-content:center;
    align-items: flex-end;
    height: 80vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}   

.heroSpan {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    padding-bottom: 10px;
}


.heroSpan h3 {
    width: 70%;
    text-align: center;
}

.gradient {
    position: absolute;
    bottom: 0;
    background: var(--lemon-chiffon);
    background: linear-gradient(
        0deg,
        var(--lemon-chiffon) 11%,
        rgba(0, 212, 255, 0) 100%
    );
    height: 300px;
    width: 100%;
}

.roomImageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.roomImageContainer div {
    text-align: center;
}

.roomImageContainer p {
    padding: 0px 70px 0px 80px;
}

.roomImageContainer h3 {
    padding-top: 25px;
}

#rooms {
    text-align: center;
    background-color: var(--lion);
    padding-bottom: 80px;
}

#rooms img {
    max-width: 100%;
    border-radius: 45px;
}

.deal {
    background-color: var(--gunmetal);
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.features{
    text-align: center;
    padding-bottom: 100px;
    margin: 10px;
}

.features img {
    width: 100%;
    padding: 5px;
    border-radius: 75px;
    border: solid 2px;
    border-color: var(--cadet);    
}

.features div { 
    margin: 5px;
}

.featureImageContainer {
    display: flex;
}

.rooms h2,
.deal h2,
.features h2 {
    padding-bottom: 40px;
}


.info {
    background-color: var(--brunswick-green);
    text-align: center;
    padding: 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: var(--gunmetal);
}

.submitContainer {
    padding-top: 15px;
}

.newsletter input[type=submit]{
background-color: var(--navigation);
padding: 9px 20px 10px 20px;
font-size: 16px;
font-family: 'Raleway';
color: var(--lightFont);
}

.breakBlock {
    height: 500px;
}

.block {
    max-width: 100%;
    height: 60px;
}

.succesfullPayment {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.confirmAndPaYButtonContainer {
    padding-top: 40px;
}


.submitConfirmAndPayButton {
    background-color: var(--navigation);
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-family: 'Raleway';
}







