:root {
--keppel: #55B9A9ff;
--brunswick-green: #0A574Fff;
--office-green: #427923ff;
--prussian-blue: #032F48ff;
--shamrock-green: #069A68ff;
--old-lace: rgb(239, 223, 186);
--chamoisee: #9F7B46ff;
}